<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register_servlet</display-name>
    <servlet-name>register_servlet</servlet-name>
    <servlet-class>registration_package.register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_servlet</servlet-name>
    <url-pattern>/register_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>connection.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnect</display-name>
    <servlet-name>DBConnect</servlet-name>
    <servlet-class>DBConnection.DBConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnect</servlet-name>
    <url-pattern>/DBConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>registration_package.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact_servlet</display-name>
    <servlet-name>contact_servlet</servlet-name>
    <servlet-class>registration_package.contact_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact_servlet</servlet-name>
    <url-pattern>/contact_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loin</display-name>
    <servlet-name>loin</servlet-name>
    <servlet-class>connection.loin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loin</servlet-name>
    <url-pattern>/loin</url-pattern>
  </servlet-mapping>
</web-app>